.divided {
    flex-direction: row;
}

.divided .left {
    flex-direction: column;

}

.divided .right {
        border-left: 1px solid #223843;
        flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 10px;
    padding-left: 25px;
}

table, th, td {
    padding: 2px;
    font-size: 13px;
}

th {
    text-align: left !important;
}

@media only screen and (max-width: 600px) {
    .divided {
        flex-direction: column;
    }

    .divided table {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .divided div.right {
        border-left: 0;
    }

    footer p {
        font-size: 8px;
    }
}