body {
    background-color: #223843;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

h1, h2, h3, h4, p, a, li, tr {
    font-family: 'Montserrat', sans-serif;
}

th, td {
    margin: 5px;
    border: none;
}


h1, h2, h3 {
    margin: 0;
}

p {
    font-size: 14px;
}

div {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #223843;
    width: 100vw;
    margin: 0;
}

header a:first-of-type {
    display: none;
}

header a i.fas {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
}

header * {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    transition: 200ms;
    color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

header *:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #fff;
}

header .active {
    border-bottom: 2px solid #fff;
}

.content {
    position: relative;
    justify-content: center;
    flex-direction: column;
    animation: slideUp 1000ms;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#frontimg
{
    width: 100vw;
    height: 40vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-60px);
    width: 70vw;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.container h1 {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

footer p {
    color: #ccc;
    font-size: 12px;
}





/*Text*/

p{
    padding: 10px;
}

h3{
    font-size: 18px;
    padding-bottom: 20px;
}

h4 {
    font-size: 12px;
    padding: 20px;
}

#time {
    position: absolute;
    color: #fff;
    margin: 0;
    right: 15px;
    padding: 0;
}

#time p {
    justify-content: center;
    width: 8px;
}

#time p:nth-of-type(odd) {
    padding: 0;
}

/*Media queries*/

@media only screen and (max-width: 600px) {
    header a:first-of-type {
        display: flex;
        justify-content: flex-start;
    }

    header {
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: column;
        transition: 200ms;
        justify-content: flex-start;
    }

    header a {
        border-bottom: 0 !important;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    h1 {
        font-size: 20px;
    }
}